/*  TODO: Make fonts downloaded */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  height: 100vh;
}

div {
  padding: 0;
  margin: 0;
}

:root {
  --background: #f8f8f8;
  --logo: #3f826d;
  --paragraph: #151514;
  --button-background: #3f826d;
  --button-text: #ffffff;
  --footer-background: #393e41;
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 2rem;

  align-items: center;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.logo {
  color: var(--logo);
  font-size: 2.31375rem;
  font-weight: bold;
}

.heading1 {
  text-align: center;
  color: var(--logo);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;
}

.paragraph {
  text-align: center;
  color: var(--paragraph);
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

.image {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.cta {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.cta_button {
  display: none;
}

.cta a,
.cta_button {
  transition: filter 0.4s ease-in;
  border: none;
  box-sizing: border-box;
  font-size: 2.25rem;
  line-height: 2.5rem;
  background-color: var(--button-background);
  color: var(--button-text);
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}

.cta a:hover,
.cta_button:hover {
  filter: brightness(85%);
}

footer {
  padding: 0;
  margin-top: 4rem;
  text-align: center;
}

@media screen and (min-width: 1085px) {
  .wrapper {
    padding: 4rem 4rem;
    gap: 5rem;
    justify-content: center;
  }

  header {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .cta_button {
    display: block;
  }

  .cta_button:hover {
    filter: brightness(85%);
  }

  .heading1 {
    font-size: 3.75rem;
    width: 46.875rem;
    line-height: 4.75rem;
  }

  .paragraph {
    font-size: 2.25rem;
    line-height: 3.75rem;
    width: 64.125rem;
  }

  .cta a {
    width: 50%;
  }

  footer {
    background-color: var(--footer-background);
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    text-align: left;
  }

  footer .logo {
    color: #ffffff;
  }
}
